@import "tailwindcss";

@theme {
  --font-sans:
    "Poppins", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #6d00ff;
  --color-secondary: #00ffa5;
  --color-primary-foreground: #ffffff;
  --color-surface: #1d1e2b;
  --color-onSurface: #000000;
  --color-background: #181921;
}

html,
body {
  @apply bg-background;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
